body {

    background-color: #0047b6 !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#kaue {
    
    height: 100px;
    width: 100px;
}

.logo-senai {
    position: absolute;
    top: 20px;
    right: 225px;
    width: 400px;
    height: auto;
}

#formulario {
    position: absolute;
    top: 400px;
    right: 250px;
    width: 350px;
    height: auto;
}