body {

    background-color: #0047b6 !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#kaue {
    
    height: 100px;
    width: 100px;
}

.logo-senai {
    position: absolute;
    top: 20px;
    right: 225px;
    width: 400px;
    height: auto;
}

#formulario {
    position: absolute;
    top: 400px;
    right: 250px;
    width: 350px;
    height: auto;
    color: #ddd;
}

table {
            width: 60%;
            border-collapse: collapse; 
            margin: 20px auto; 
            font-family: Arial, sans-serif;
        }
        th, td {
            border: 1px solid #333; 
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #ff7300; 
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2; 
        }
        tr:hover {
            background-color: #ddd;
        }
        td:last-child {
            font-weight: bold;      
            color: #2E8B57;
        }

        h1 {
            color: #ffffff;
            text-align: center;
            background-color: #ff7300;
        }

#formulariocadastro{
    text-align: center;
    max-width: 600px;
    position: absolute;
    left: 780px;
}

#botaoa {
  display: block;      
  width: fit-content; 
  margin: 30px auto;  
  padding: 10px 30px;  
}

#movimentacao {
  border-collapse: collapse; 
  width: auto;              
  margin: 20px auto;     
}

#movimentacao th, 
#movimentacao td {
  border: 1px solid #333333; 
  padding: 6px 120px;         
  font-size: 14px;           
  text-align: center;        
}

#movimentacao th {
  background-color: #e85907;
}
